@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap');

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sarabun', sans-serif;
}

/* Hide Next.js Dev Tools badge */
div[data-next-badge="true"] {
  display: none !important;
}
